<!-- SEO tags -->
{% seo %}
{% include _includes\og.html %}


<!-- HTML Meta Tags -->
<title>
    My Journey To CCNP(ENCOR)
  </title>
<meta name="description" content="">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://demetriorag.github.io/">
<meta property="og:type" content="website">
<meta property="og:title" content="
    My Journey To CCNP(ENCOR)
  ">
<meta property="og:description" content="">
<meta property="og:image" content="demetriorag.github.io/img/bg-post.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="demetriorag.github.io">
<meta property="twitter:url" content="https://demetriorag.github.io/">
<meta name="twitter:title" content="
    My Journey To CCNP(ENCOR)
  ">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="demetriorag.github.io/img/bg-post.jpg">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
      